<div class = "top">
  <h1>To do list</h1>
  <h2>"With great power, comes great responsibility!"
  <div class = "new_category">
      <%= link_to "Add to do list", new_category_path %>
  </div>
  <% if logged_in? %>
    <h2><%=current_user.username%></h2>
  <% end %>
  <div class = "new_category">
    <%= link_to "Log Out", login_path %></div>
</div>

<div class="container">
  <div class = "header">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th> Update Category</th>
        <th> Delete Category </th>
        <th> Show Category </th>
        <th> Show Tasks </th>
        <th> Add Task </th>
      </tr>
    </thead>
    <tbody>
    <div>
      <% @categories.each do |category| %>
      <tr class = "label_box">
        
        <td class = "name_container"><%= category.name %></td>
        <td class = "body_container"><%= category.description %></td>
        <div class = "buttons">
        <td class = "button"><%= link_to "Edit", edit_category_path(category.id) %></td>
        <td class = "button"><%= link_to "Delete", category_path(category.id), method: :delete %></td>
        <td class = "button"><%= link_to "Show Category", category_path(category)%></td>
        
        <td class = "button"><%= link_to 'Show Tasks', category_tasks_path(category.id) %></td>
        <td class = "button"><%= link_to 'Add Task', new_category_task_path(category) %></td>

      </div>
      </tr>
      
      <%end%>
    </tbody>
  </table>
  </div>
<div>