<div class = "high">
  <% if logged_in? %>
    <h2><%=current_user.username%></h2>
  <% end %>
  <%= link_to "Log Out", login_path %></div>
  <div class = "top">
    <h1>TO DO LIST</h1>
    <h2>"With great power, comes great responsibility!"</h2>
  <div class = "new_category">
      <%= link_to "ADD TO DO LIST", new_category_path %>
  </div>
</div>

<div class="container">
  <div class = "header">
  <table>
    <thead>
      <tr>
        <th>TITLE</th>
        <th>DESCRIPTION</th>
        <th>USER ID</th>
        <th> UPDATE CATEGORY </th>
        <th> DELETE CATEGORY </th>
        <th> SHOW CATEGORY </th>
        <th> SHOW TASKS </th>
        <th> ADD TASKS </th>
        
      </tr>
    </thead>
    <tbody>
    <div>
      <% @categories.each do |category| %>
      <% if category.user == current_user %>
      <tr class = "label_box">
        
        <td class = "name_container"><%= category.name %></td>
        <td class = "body_container"><%= category.description %></td>
        <td class = "user"><%= category.user_id %></td>
        
        <div class = "buttons">
        <td class = "button"><%= link_to "Edit", edit_category_path(category.id) %></td>
        <td class = "button"><%= link_to "Delete", category_path(category.id), method: :delete %></td>
        <td class = "button"><%= link_to "Show Category", category_path(category)%></td>
        
        <td class = "button"><%= link_to 'Show Tasks', category_tasks_path(category.id) %></td>
        <td class = "button"><%= link_to 'Add Task', new_category_task_path(category) %></td>

      </div>
      </tr>
     
      <%end%>
      <%end%>
    </tbody>
  </table>
  </div>
<div>